blinker==1.9.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
coverage==7.14.1
Flask==3.1.3
gherkin-official==29.0.0
glob2==0.7
idna==3.18
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
junit-xml==1.9
libcst==1.8.6
linkify-it-py==2.1.0
Mako==1.3.12
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdit-py-plugins==0.6.1
mdurl==0.1.2
mutmut==2.5.1
packaging==26.2
parse==1.22.1
parse_type==0.6.6
parso==0.8.7
platformdirs==4.10.0
pluggy==1.6.0
pony==0.7.19
Pygments==2.20.0
pytest==9.0.3
pytest-bdd==8.1.0
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
setproctitle==1.3.7
six==1.17.0
textual==8.2.7
toml==0.10.2
typing_extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.7.0
Werkzeug==3.1.8
